.ms {
    margin: 120px;
    width: 18rem;
    background-color: rgba(177, 170, 170, 0.26);
    align-items: center;
    justify-self: center;
    margin-left: 41%;
    padding: 30px;   
}

.info {
    font-size: larger;
}

.dato {
    padding: 10px;

}